*{
    font-family: "Rimouski";
}

body{
    background-color: black;
}

.container{
    width: 500px;
    background-color: black;

    /* display: block; */
    display: inline;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 400px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: CENTER;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: white;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 400px;
    height: 300px;
    background-color: black;
}

.weather-icon{
    width: 400px;
    height: 138px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin-top: 0;
    /* margin-bottom: 1em; */
    margin-left: 1.5em;
    color: white;
    font-size: 5em;
    text-align: center;
    /* cursor: pointer; */
    cursor: cell;
}

.temperature-value p:hover{



}

.temperature-value span{
    color: white;
    font-size: 0.5em;
}

.temperature-description{

}

.temperature-description p{
    padding: 5px;
    margin-left: 1em;
    margin-top: 1em;
    color: #A73489;
    text-align: center;
    font-size: 1.2em;
}

.location{

}

.location p {
    margin-top: 1em;
    padding-left: 1em;
    color: #293251;
    text-align: center;
    font-size: 1em;
}
